body {
  padding: 50px;
  font: 14px Inconsolata, "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

#question span {
  &.done {
    color: orange;
  }
  &.miss {
    color: cyan;
    background-color: rgba(0, 0, 255, 0.6);
  }
  &.movable {
    color: blue;
    font-size: 2.1vw;
  }
}

#drop span {
  position:absolute;

  &.done {
    color: orange;
    font-size: 2.2vw;
  }
  &.miss {
    color: blue;
    font-size: 3vw;
  }
}

.tab {
  padding-left: 2.5em;
}

dt, h3 {
  white-space:pre;
  font-size: 2.2vw;
}

dd, p  {
  white-space: pre;
  font-size: 2vw;
}

.inline-3 {
    width: 30%;
    display: inline-block;
}
