body {
  padding: 10px;
  font: 14px Inconsolata, "Lucida Grande", Helvetica, Arial, sans-serif;
  // overflow: hidden;
}

.container {
  padding: 10px 30px;
}

a {
  color: #00B7FF;
}

header h1 a {
  color: midnightblue;
  text-decoration: none;
}

.enter {
  background-color: mistyrose;
}
.delete {
  color: lavenderblush;
  font-size: 2vw;
  position: relative;
  background-color: crimson;
}
.done {
    color: springgreen;
}
.now {
    text-decoration: underline;
}

#question span {
  &.miss {
    color: crimson;
    background-color: lavenderblush;
  }
}

#selection span {
  &.movable {
    color: blue;
    font-size: 2.1vw;
  }

  &.done + span:not(.done) {
    text-decoration: underline;
  }
}

#drop span {
  position: absolute;

  &.done {
    font-size: 2.5vw;
  }
  &.miss {
    color: red;
  }
}

#miss {
  position: absolute;
  white-space: pre;

  span.miss {
    @extend .delete
  }
}

#rank ol li {
  white-space: pre;

  .yet {
      opacity: .5;
  }
  :not(.enter) ~ .yet {
      visibility: hidden;
  }

  &.my .name span {
    &:nth-child(12) {
      text-decoration: underline;
    }
    &:nth-child(13) {
      visibility: hidden;
    }
  }
}

button.invert {
    cursor: pointer;
    font-size: 2vw;
    background: darkslategrey;
    color: azure;
    border-style: None;
    padding: 5px;
    margin: 2px;
    box-shadow: 1px 1px 2px 1px #666;

    &:hover {
        background: black;
    }
}

.tab {
  padding-left: 2.5em;
}

h1 {
  font-size: 4vw;
}

dt, h3 {
  white-space:pre;
  font-size: 2.2vw;
}

dd, p  {
  white-space: pre;
  font-size: 2vw;
}

.inline-1 {
    width: 10%;
    display: inline-block;
}
.inline-2 {
    width: 20%;
    display: inline-block;
}
.inline-3 {
    width: 30%;
    display: inline-block;
}
.inline-6 {
    width: 60%;
    display: inline-block;
}
