body {
  padding: 10px;
  font: 14px Inconsolata, "Lucida Grande", Helvetica, Arial, sans-serif;
  // overflow: hidden;
}

.container {
  padding: 10px 30px;
}

a {
  color: #00B7FF;
}

header h1 a {
  color: midnightblue;
  text-decoration: none;
}

.enter {
  background-color: mistyrose;
}
.delete {
  color: lavenderblush;
  font-size: 2vw;
  position: relative;
  background-color: crimson;
}
.done {
  color: springgreen;
}
.now {
  text-decoration: underline;
}

.ring {
  background: rgba(lightyellow, .8);
  position: absolute;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  margin: -20px;

  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}
@keyframes pulsate {
  to { transform: scale(4); opacity: 0; }
}

#question {
  background-color: rgba(aliceblue, .3);
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;

  span.miss {
    color: crimson;
    background-color: lavenderblush;
  }
}

#selection {
  a.movable span {
    transition: font-size .3s;
    color: blue;
    font-size: 2.5vw;
  }

  a:not(.movable) span {
    transition: font-size .3s;

    &:not(.done) {
      color: grey;
    }

    &.done + span:not(.done) {
      text-decoration: underline;
    }
  }
}

#drop span {
  position: absolute;

  &.done {
    font-size: 2.5vw;
  }
  &.miss {
    color: red;
  }
}

#miss {
  position: absolute;
  white-space: pre;

  span.miss {
    @extend .delete
  }
}

#rank ol li {
  white-space: pre;

  .yet {
      opacity: .5;
  }
  :not(.enter) ~ .yet {
      visibility: hidden;
  }

  &:not(.my) {
    transition: all .2s;
  }

  &.my {
    background-color: mistyrose;
    font-size: 2.5vw;

    &.out {
      margin-top: 20px;
      list-style-type: none;
    }

    .name span {
      &:nth-child(12) {
        text-decoration: underline;
      }
      &:nth-child(13) {
        visibility: hidden;
      }
    }
  }
}

button.default {
  font-size: 2vw;
  cursor: pointer;
  color: #333;
  background-color: #fff;
  padding: 6px 12px;
  margin: 5px;
  border: 1px solid transparent;
  border-color: #ccc;
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
  }

  &:not(:disabled) {
    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
    &:active {
      background-color: #dfdfdf;
      border-color: #8c8c8c;
      box-shadow: inset 0 3px 5px rgba(black, .12);
    }
  }

  // &[disabled] {
  //   cursor: not-allowed;
  //   box-shadow: none;
  //   opacity: .65;
  // }
}

.tab {
  padding-left: 2.5em;
}

h1 {
  font-size: 4vw;
}

dt, h3 {
  white-space:pre;
  font-size: 2.2vw;
}

dd, p  {
  white-space: pre;
  font-size: 2vw;
}

.inline-1 {
    width: 10%;
    display: inline-block;
}
.inline-2 {
    width: 20%;
    display: inline-block;
}
.inline-3 {
    width: 30%;
    display: inline-block;
}
.inline-6 {
    width: 60%;
    display: inline-block;
}
