doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1: a(href='/')= title
      form#layout
        each l in layouts
          if l === layout
            input(id= l, type='radio', name='layout', checked)
          else
            input(id= l, type='radio', name='layout')
          label(for= l)= l
        script.
          window.onload = () => {
            $('header form#layout > input[type=radio]')
            .change((e) => {
              $.cookie('layout', $(e.target).attr('id'));
            });
          }

    .container
      #info
        block info
      hr
      block content

    script(type='text/javascript', src='/static/js/jquery.min.js')
    script(type='text/javascript', src='/static/js/jquery.easing.min.js')
    script(type='text/javascript', src='/static/js/jquery.cookie.js')
    script(type='text/javascript', src='/static/js/moment.min.js')
    block script
