doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #info
      block info
    hr
    #question
      block question
    #drop
      block drop

    script(type='text/javascript', src='/static/js/jquery.min.js')
    script(type='text/javascript', src='/static/js/jquery.easing.min.js')
    script(type='text/javascript', src='/static/js/moment.min.js')
    block script
