doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1: a(href='/')= title
      if name
        .username(style='display: none')= name

    .container
      #info
        block info
      hr
      block content

    script(type='text/javascript', src='/static/js/jquery.min.js')
    script(type='text/javascript', src='/static/js/jquery.easing.min.js')
    script(type='text/javascript', src='/static/js/moment.min.js')
    block script
