body {
  padding: 50px;
  font: 14px Inconsolata, "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

.enter {
  background-color: mistyrose;
}

.delete, #miss span.miss {
  color: lavenderblush;
  font-size: 2vw;
  position: relative;
  background-color: crimson;
}

.done {
  color: springgreen;
}

#question span.miss {
  color: crimson;
  background-color: lavenderblush;
}

#question span.movable {
  color: blue;
  font-size: 2.1vw;
}

#drop span {
  position: absolute;
}

#drop span.done {
  font-size: 2.5vw;
}

#drop span.miss {
  color: red;
}

#miss {
  position: absolute;
  white-space: pre;
}

.tab {
  padding-left: 2.5em;
}

dt, h3 {
  white-space: pre;
  font-size: 2.2vw;
}

dd, p {
  white-space: pre;
  font-size: 2vw;
}

.inline-3 {
  width: 30%;
  display: inline-block;
}
