include ../man
  dl
    dt NAME
    dd cat -- concatenate and print files

    dt DESCRIPTION
    dd
      | The cat utility reads files sequentially, writing them to the standard 
      | output.  The file operands are processed in command-line order.  If file 
      | is a single dash (`-') or absent, cat reads from the standard input.  If 
      | file is a UNIX domain socket, cat connects to it and then reads it until 
      | EOF.  This complements the UNIX domain binding capability available in 
      | inetd(8).

