include ../man
  dl
    dt NAME
    dd chmod -- change file modes or Access Control Lists

    dt DESCRIPTION
    dd
      | The chmod utility modifies the file mode bits of the listed files as 
      | specified by the mode operand. It may also be used to modify the Access 
      | Control Lists (ACLs) associated with the listed files.

