include ../man
  dl
    dt NAME
    dd cp -- copy files

    dt DESCRIPTION
    dd
      | In the first synopsis form, the cp utility copies the contents of the 
      | source_file to the target_file. In the second synopsis form, the con-
      | tents of each named source_file is copied to the destination 
      | target_directory. The names of the files themselves are not changed. If 
      | cp detects an attempt to copy a file to itself, the copy will fail.

