include ../man
  dl
    dt NAME
    dd dd -- convert and copy a file

    dt DESCRIPTION
    dd
      | The dd utility copies the standard input to the standard output. Input 
      | data is read and written in 512-byte blocks. If input reads are short, 
      | input from multiple reads are aggregated to form the output block. When 
      | finished, dd displays the number of complete and partial input and output 
      | blocks and truncated input records to the standard error output.
