include ../man
  dl
    dt NAME
    dd echo -- write arguments to the standard output

    dt DESCRIPTION
    dd
      | The echo utility writes any specified operands, separated by single blank 
      | (` ') characters and followed by a newline (`\n') character, to the stan-
      | dard output.

