include ../man
  dl
    dt NAME
    dd echo -- write arguments to the standard output

    // dt SYNOPSIS
    // dd echo [-n] [string ...]
    //
    dt DESCRIPTION
    dd
      | The echo utility writes any specified operands, separated by single blank 
      | (` ') characters and followed by a newline (`\n') character, to the stan-
      | dard output.
    dd
      | Some shells may provide a builtin echo command which is similar or iden-
      | tical to this utility.  Most notably, the builtin echo in sh(1) does not 
      | accept the -n option.  Consult the builtin(1) manual page.


