extends ../man

block question
  dl
    dt NAME
    dd grep, egrep, fgrep, zgrep, zegrep, zfgrep -- file pattern searcher

    dt SYNOPSIS
    dd
      | grep [-abcdDEFGHhIiJLlmnOopqRSsUVvwxZ] [-A num] [-B num] [-C[num]] 
      .tab
        | [-e pattern] [-f file] [--binary-files=value] [--color[=when]] 
        | [--colour[=when]] [--context[=num]] [--label] [--line-buffered] 
        | [--null] [pattern] [file ...]

    dt DESCRIPTION
    dd
      | The grep utility searches any given input files, selecting lines that 
      | match one or more patterns.  By default, a pattern matches an input line 
      | if the regular expression (RE) in the pattern matches the input line 
      | without its trailing newline.  An empty expression matches every line. 
      | Each input line that matches at least one of the patterns is written to 
      | the standard output.
    dd
      | grep is used for simple patterns and basic regular expressions (BREs); 
      | egrep can handle extended regular expressions (EREs).  See re_format(7) 
      | for more information on regular expressions.  fgrep is quicker than both 
      | grep and egrep, but can only handle fixed patterns (i.e. it does not 
      | interpret regular expressions).  Patterns may consist of one or more 
      | lines, allowing any of the pattern lines to match a portion of the input.
    dd
      | zgrep, zegrep, and zfgrep act like grep, egrep, and fgrep, respectively, 
      | but accept input files compressed with the compress(1) or gzip(1) com-
      | pression utilities.
