extends ../man

block question
  dl
  dt NAME
  dd ls -- list directory contents

  // dt SYNOPSIS 
  // dd ls [-ABCFGHLOPRSTUW@abcdefghiklmnopqrstuwx1] [file ...] 
  //
  dt DESCRIPTION 
  dd
    | For each operand that names a file of a type other than directory, ls 
    | displays its name as well as any requested, associated information.  For 
    | each operand that names a file of type directory, ls displays the names 
    | of files contained within that directory, as well as any requested, asso-
    | ciated information.
  dd
    | If no operands are given, the contents of the current directory are dis-
    | played.  If more than one operand is given, non-directory operands are 
    | displayed first; directory and non-directory operands are sorted sepa-
    | rately and in lexicographical order.

