include ../man
  dl
    dt NAME
    dd mv -- move files

    dt DESCRIPTION
    dd
      | In its first form, the mv utility renames the file named by the source 
      | operand to the destination path named by the target operand. This form 
      | is assumed when the last operand does not name an already existing direc-
      | tory.

    dd
      | In its second form, mv moves each file named by a source operand to a 
      | destination file in the existing directory named by the directory oper-
      | and. The destination path for each operand is the pathname produced by 
      | the concatenation of the last operand, a slash, and the final pathname 
      | component of the named file.

