include ../man
  dl
    dt NAME
    dd pwd -- return working directory name

    dt DESCRIPTION
    dd
      | The pwd utility writes the absolute pathname of the current working 
      | directory to the standard output.

    dd
      | Some shells may provide a builtin pwd command which is similar or identi-
      | cal to this utility.  Consult the builtin(1) manual page.

