include ../man
  dl
    dt NAME
    dd rm, unlink -- remove directory entries

    dt DESCRIPTION
    dd
      | The rm utility attempts to remove the non-directory type files specified 
      | on the command line.  If the permissions of the file do not permit writ-
      | ing, and the standard input device is a terminal, the user is prompted 
      | (on the standard error output) for confirmation.

