include ../man
  dl
    dt NAME
    dd scp -- secure copy (remote file copy program)

    dt DESCRIPTION
    dd
      | scp copies files between hosts on a network. It uses ssh(1) for data 
      | transfer, and uses the same authentication and provides the same security 
      | as ssh(1). scp will ask for passwords or passphrases if they are needed 
      | for authentication.

    dd
      | File names may contain a user and host specification to indicate that the 
      | file is to be copied to/from that host. Local file names can be made 
      | explicit using absolute or relative pathnames to avoid scp treating file 
      | names containing `:' as host specifiers. Copies between two remote hosts 
      | are also permitted.

