include ../man
  dl
    dt NAME
    dd ssh -- OpenSSH SSH client (remote login program)

    dt DESCRIPTION
    dd
      | ssh (SSH client) is a program for logging into a remote machine and for 
      | executing commands on a remote machine. It is intended to replace rlogin 
      | and rsh, and provide secure encrypted communications between two 
      | untrusted hosts over an insecure network. X11 connections, arbitrary TCP 
      | ports and UNIX-domain sockets can also be forwarded over the secure chan-
      | nel.

    dd
      | ssh connects and logs into the specified hostname (with optional user 
      | name). The user must prove his/her identity to the remote machine using 
      | one of several methods depending on the protocol version used (see 
      | below).

    dd
      | If command is specified, it is executed on the remote host instead of a 
      | login shell.

